

// Colors

$White: hsl(0, 0%, 100%);
$Lightgray: hsl(212, 45%, 89%);
$Grayishblue: hsl(220, 15%, 55%);
$Darkblue: hsl(218, 44%, 22%);

// Font Sizes

$font-sm:0.875rem; // 14px
$font-med:1.125rem; // 18px
$font-lg:1.3125rem; // 21px


:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto Mono", monospace;
    background-color: $Lightgray;
    line-height: 1.5;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.qrcards {
    width: 300px;
    aspect-ratio: 1 / 1.4;
    display: flex;
    flex-direction: column;
    background-color: $White;
    padding: 15px;
    margin-top: 5rem;
    border-radius: 20px;
    text-align: center;
    /*box-shadow: 0 10px 30px 0px;*/
}

.qrcard, .qrimg {
    border-radius: 20px;
    width: 300px;
    height: 300px;
    cursor: pointer;
}

.qrcard, .qrimg1 {
    border-radius: 100%;
}

.qrcards, h2 {
    font-size: $font-med;
    color: $Darkblue;
}

.qrcards, p {
    font-size: $font-sm;
    font-weight: 300;
    color: $Grayishblue;
    margin-bottom: 2.5rem;
}

.attribution {
    text-align: center;
    position: fixed;
    bottom: 0%;
}
