// styles.scss
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
// Colors
$red: hsl(7, 81%, 62%);
$White1: hsla(0, 0%, 100%, 0.788);
$White: hsl(0, 0%, 100%);
$dark: hsl(251, 65%, 3%);
$bg-hover: hsla(0, 0%, 100%, 0.329);
$Dark-Gray: hsla(0, 0%, 7%, 0.185);
$Dark-Violet: hsl(283, 51%, 48%);
$grayish-blue: hsl(228, 45%, 44%);
$primary-color: hsl(0, 0%, 100%);
$secondary-color: hsla(0, 0%, 100%, 0.137);
$accent-color: hsl(207, 73%, 57%);
$border-color: hsla(0, 0%, 100%, 0.849);
$accent-color: #4299e1;
$error-color: #e53e3e;
$success-color: #48bb78;

// Font Sizes
$font-xxsm: 0.5rem; // 8px
$font-xsm: 0.625rem; // 10px
$font-sm: 0.75rem; // 12px
$font-xm: 0.875rem; // 14px
$font-med: 1rem; // 16px
$font-lg: 1.125rem; // 18px
$font-xlg: 1.25rem; // 20px
$font-xxlg: 1.5rem; // 24px
$font-xxxlg: 2rem; // 32px
$font-big: 2.375rem; // 38px

//Background Image Var
$bg-image-desktop: '/conference-ticket-generator-main/assets/images/background-desktop.png';
$bg-image-tablet: '/conference-ticket-generator-main/assets/images/background-tablet.png';
$bg-image-mobile: '/conference-ticket-generator-main/assets/images/background-mobile.png';
$bg-image-lines: '/conference-ticket-generator-main/assets/images/pattern-lines.svg';
$bg-image-circle: '/conference-ticket-generator-main/assets/images/pattern-circle.svg';
$bg-image-squiggly-1: '/conference-ticket-generator-main/assets/images/pattern-squiggly-line-top.svg';
$bg-image-squiggly-2: '/conference-ticket-generator-main/assets/images/pattern-squiggly-line-bottom-desktop.svg';
$bg-squiggly-mobiletablet-2: '/conference-ticket-generator-main/assets/images/pattern-squiggly-line-bottom-mobile-tablet.svg';


//Size & Position
$repeat: no-repeat;
$size: center/cover;

// BREAKPOINTS
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.squiggly-1 {
    position: absolute;
    top: 7%;
    right: 0%;
}

.squiggly-2 {
    position: absolute;
    bottom: 0%;
    left: 0%;
}

.bg-circle1 {
    position: absolute;
    bottom: 90%;
    left: 10%;
}

.bg-circle2 {
    position: absolute;
    top: 50%;
    right: 15%;
}

body {
    min-height: 100vh;
    background: 
        url(#{$bg-image-lines}) $size $repeat,
        url(#{$bg-image-circle}) $repeat 35px -95px,
        url(#{$bg-image-circle}) $repeat 82% 60%,
        url(#{$bg-image-squiggly-1}) $repeat 100% 10%,
        url(#{$bg-image-squiggly-2}) $repeat 0 100%,
        url(#{$bg-image-desktop}) $size $repeat;
        font-family: 'Inter', sans-serif;
        color: white;
        line-height: 1.5;;
    }
    
    // Override for Tablet
    @media (max-width: $breakpoint-tablet) {
        body {
            background: 
            url(#{$bg-image-lines}) $size $repeat,
            url(#{$bg-image-circle}) $repeat 35px -95px,
            url(#{$bg-image-circle}) $repeat 82% 60%,
            url(#{$bg-image-squiggly-1}) $repeat 100% 10%,
            url(#{$bg-squiggly-mobiletablet-2}) $repeat 0 100%,
            url(#{$bg-image-tablet}) $size $repeat;
        }
    }
    
    // Override for Mobile (smallest screens)
    @media (max-width: $breakpoint-mobile) {
        body {
            background: 
            url(#{$bg-image-lines}) $size $repeat,
            url(#{$bg-image-circle}) $repeat 35px -95px,
            url(#{$bg-image-circle}) $repeat 82% 60%,
            url(#{$bg-image-squiggly-1}) $repeat 100% 10%,
            url(#{$bg-squiggly-mobiletablet-2}) $repeat 0 100%,
            url(#{$bg-image-mobile}) $size $repeat;
    }
}

main {
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    width: 100vw;
    line-height: 1.5;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ticket-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.headline {
    text-align: center;
    margin-bottom: 30px;
    line-height: 1.2;
    h1 {
        font-size: 58px;
        span {
            background: linear-gradient(200deg, #ffffff, #fd7b54);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            color: transparent;
        }
    }
    
    p {
        padding: 15px;
        font-size: $font-xxlg;
        span {
            color: $red;
        }
    }
    @media (max-width: $breakpoint-mobile) {
        h1 {
            font-size: $font-big;
        }
        p {
            font-size: $font-lg;
        }
    }
}

.logo {
    padding: 50px;
}

form {
    display: flex;
    flex-direction: column;
    span{
        display: flex;
        font-size: $font-xsm;
        margin-bottom: 30px;
        .colorized {
            filter: brightness(0) saturate(100%) invert(50%) sepia(100%) hue-rotate(320deg) saturate(600%) brightness(90%);
        }
    }
    .get-input {
        width: 400px;
        padding: 15px;
        background-color: $secondary-color;
        backdrop-filter: blur(1px);
        border: 1px solid $border-color;
        border-radius: 10px;
        &:hover {
            outline: 2px solid $White1;
            background-color: $bg-hover;
        }
        &:focus {
            outline-offset: 2px;
        }
        @media (max-width: $breakpoint-mobile) {
            width: 100%;
            height: 100%;
            min-width: 300px;
        }
    }
    .generate {
        background-color: $red;
        padding: 15px;
        border: 0;
        border-radius: 10px;
        &:hover {
            background: darken($red, 5%);
            cursor: pointer;
        }
        &:focus {
            outline: 1px solid $White1;
            outline-offset: 2px;
            box-shadow: 0 0 3px 2px rgba(0,123,255,0.5);
        }
    }
}

.sustain {
    height: 133px;
    .cover {
        position: absolute;
        .avatarbtn {
            position: relative;
            left: 100px;
            bottom: 40px;
            gap: 5px;
        }
        button {
            border-radius: 2px;
            border: 0;
            padding: 2px;
            font-size: $font-sm;
            font-family: 'Courier New', Courier, monospace;
            background-color: $secondary-color;
            color: $White1;
            &:hover {
                text-decoration: underline;
                box-shadow: 0 0 3px 2px $Dark-Gray;
            }
        }
        @media (max-width: $breakpoint-mobile) {
            .avatarbtn {
                position: relative;
                left: 54px;
                bottom: 40px;
                gap: 5px;
            }
        }
    
    }
}

.form-upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2px;
    border-radius: 10px;
    background-color: $secondary-color;
    backdrop-filter: blur(1px);
    border: 1px dashed $White1;
    width: 400px;
    height: 130px;
    .get-avatar[type="file"] {
        display: none;
    }
    &:hover, &.dragover {
        background-color: $bg-hover;
    }
    &:focus, &.dragover {
        outline: 1px solid $White1;
        outline-offset: 2px;
    }

    @media (max-width: $breakpoint-mobile) {
        width: 100%;
        height: 100%;
        min-width: 300px;
        min-height: 130px;
        #uploadtext {
            font-size: $font-sm;
        }
    }
}

.upload-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-color: lighten($secondary-color, 50%);
    backdrop-filter: blur(1px);
    border-radius: 10px;
    width: 55px;
    height: 55px;
    #userimage {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
    img {
        width: 35px;
        height: 35px;
    }
    @media (max-width: $breakpoint-mobile) {
        width: 50px;
        height: 50px;
    }
}

.avatar-preview {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    object-fit: cover;
    margin: 0 auto 1rem;
}

label {
    padding: 5px 0;
}


.get-input::placeholder {
    color: $White;
    opacity: 0.5;
}




.ticket{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.generated-ticket {
    display: flex;
    justify-content: space-between;
    background: url('/conference-ticket-generator-main/assets/images/pattern-ticket.svg') $size $repeat;
    width: 600px;
    height: 280px;
    padding: 25px;
    @media (max-width: $breakpoint-mobile) {
        background: url('/conference-ticket-generator-main/assets/images/pattern-ticket.svg') $size $repeat;
        width: 300px;
        height: 140px;
        padding: 10px;
    }
}

.ticket-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 500px;
    @media (max-width: $breakpoint-mobile) {
        min-height: 100px;
    }
}

.ticket-col-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    @media (max-width: $breakpoint-mobile) {
        width: 235px;
    }
}

.ticket-col-2 {
    display: flex;
    font-size: $font-xlg;
    width: 50px;
    text-align: center;
    color: $White1;
    p{
        writing-mode: vertical-lr;
        transform: rotate(0deg);
    }
    @media (max-width: $breakpoint-mobile) {
        font-size: $font-sm;
        width: 30px;
    }
}

.ticket-text{
    display: flex;
    h2 {
        font-size: $font-xxxlg;
        padding-left: 20px;
    }
    @media (max-width: $breakpoint-mobile) {
        h2 {
            font-size: $font-lg;
            padding-left: 6px;
        }
    }

}
.ticket-avatar {
    width: 75px;
    height: 75px;
    img {
        border-radius: 5px;
        width: 100%;
        height: 100%;
    }
    @media (max-width: $breakpoint-mobile) {
        width: 55px;
        height: 55px;
    }

}
.ticket-info{
    line-height: 1;
    p {
        padding-left: 60px;
    }
    @media (max-width: $breakpoint-mobile) {
        p {
            font-size: $font-sm;
            padding-left: 45px;
            position: relative;
            bottom: 10px;
        }
    }
}

.ticket-end {
    display: flex;
}

.ticket-user {
    margin-left: 15px;
    h3 {
        font-size: $font-xxlg;
    }
    span {
        display: flex;
    }
    @media (max-width: $breakpoint-mobile) {
        margin-left: 5px;
        h3 {
            font-size: $font-lg;
            font-weight: 500;
        }
    }
}

.error-red {
    color: $error-color;
    outline: 1px solid $error-color;
    outline-offset: 2px;
}

.error-message {
    color: $error-color;
    display: none;
}

.attribution {
    font-size: $font-sm;
    text-align: center;
}

.attribution a:visited {
    color: $Dark-Violet;
}

a {
    color: $dark;
    font-weight: 700;
    transition: color 0.3s ease-in-out;
}

footer {
    position: sticky;
    margin-top: 70px;
    top: 100%;
}