* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.squiggly-1 {
  position: absolute;
  top: 7%;
  right: 0%;
}

.squiggly-2 {
  position: absolute;
  bottom: 0%;
  left: 0%;
}

.bg-circle1 {
  position: absolute;
  bottom: 90%;
  left: 10%;
}

.bg-circle2 {
  position: absolute;
  top: 50%;
  right: 15%;
}

body {
  background: url(/conference-ticket-generator-main/assets/images/pattern-lines.svg) center/cover no-repeat, url(/conference-ticket-generator-main/assets/images/pattern-circle.svg) no-repeat 35px -95px, url(/conference-ticket-generator-main/assets/images/pattern-circle.svg) no-repeat 82% 60%, url(/conference-ticket-generator-main/assets/images/pattern-squiggly-line-top.svg) no-repeat 100% 10%, url(/conference-ticket-generator-main/assets/images/pattern-squiggly-line-bottom-desktop.svg) no-repeat 0 100%, url(/conference-ticket-generator-main/assets/images/background-desktop.png) center/cover no-repeat;
  font-family: "Roboto", sans-serif;
  color: white;
  line-height: 1.5;
}

@media (max-width: 768px) {
  body {
    background: url(/conference-ticket-generator-main/assets/images/background-tablet.png) center/cover no-repeat, url(/conference-ticket-generator-main/assets/images/pattern-lines.svg) center/cover no-repeat;
  }
}
@media (max-width: 480px) {
  body {
    background: url(/conference-ticket-generator-main/assets/images/background-mobile.png) center/cover no-repeat, url(/conference-ticket-generator-main/assets/images/pattern-lines.svg) center/cover no-repeat;
  }
}
main {
  display: flex;
  flex-direction: column;
  font-family: "figtree";
  width: 100vw;
  height: 87vh;
  line-height: 1.5;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ticket-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.headline {
  text-align: center;
  margin-bottom: 30px;
  line-height: 1.2;
}
.headline h1 {
  font-size: 54px;
}
.headline p {
  padding: 15px;
  font-size: 24px;
}

.logo {
  padding: 50px;
}

form {
  display: flex;
  flex-direction: column;
}
form span {
  font-size: 0.625rem;
  margin-bottom: 40px;
}
form span img {
  position: relative;
  top: 2.2px;
}
form .get-input {
  width: 400px;
  padding: 15px;
  margin-bottom: 30px;
  background-color: hsla(0, 0%, 100%, 0.137);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  border: 1px solid hsla(0, 0%, 100%, 0.849);
  border-radius: 10px;
}
form .get-input:hover {
  outline: 2px solid hsla(0, 0%, 100%, 0.788);
  background-color: hsla(0, 0%, 100%, 0.329);
}
form .generate {
  background-color: hsl(7, 81%, 62%);
  padding: 15px;
  border: 0;
  border-radius: 10px;
}
form .generate:hover {
  background: #ea4d39;
  cursor: pointer;
}
form .generate:focus {
  outline: 1px solid hsla(0, 0%, 100%, 0.788);
  box-shadow: 0 0 3px 2px rgba(0, 123, 255, 0.5);
}

.form-upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2px;
  border-radius: 10px;
  background-color: hsla(0, 0%, 100%, 0.137);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  border: 1px dashed hsla(0, 0%, 100%, 0.788);
  width: 400px;
  height: 130px;
}
.form-upload .get-avatar[type=file] {
  display: none;
}
.form-upload:hover {
  background-color: hsla(0, 0%, 100%, 0.329);
}
.form-upload:focus {
  outline: 1px solid hsla(0, 0%, 100%, 0.788);
}

.upload-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.137);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  border-radius: 10px;
  width: 50px;
  height: 50px;
}
.upload-icon img {
  width: 35px;
  height: 35px;
}

.avatar-preview {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto 1rem;
}

label {
  padding: 5px 0;
}

.get-input::-moz-placeholder {
  color: hsl(0, 0%, 100%);
  opacity: 0.5;
}

.get-input::placeholder {
  color: hsl(0, 0%, 100%);
  opacity: 0.5;
}

.ticket {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.generated-ticket {
  display: flex;
  justify-content: space-between;
  background: url("/conference-ticket-generator-main/assets/images/pattern-ticket.svg") center/cover no-repeat;
  width: 600px;
  height: 280px;
  padding: 25px;
}

.ticket-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
}

.ticket-col-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
}

.ticket-col-2 {
  display: flex;
  font-size: 1.125rem;
  width: 50px;
  text-align: center;
  color: hsla(0, 0%, 100%, 0.788);
}
.ticket-col-2 p {
  writing-mode: vertical-lr;
  transform: rotate(0deg);
}

.ticket-text {
  display: flex;
}
.ticket-text h2 {
  padding-left: 20px;
}

.ticket-avatar {
  width: 75px;
  height: 75px;
}
.ticket-avatar img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.ticket-info {
  line-height: 1;
}
.ticket-info p {
  padding-left: 60px;
}

.ticket-end {
  display: flex;
}

.ticket-user {
  margin-left: 15px;
}
.ticket-user h3 {
  padding: 5px;
}
.ticket-user p {
  text-align: center;
}
.ticket-user img {
  position: relative;
  padding-right: 5px;
  top: 5px;
}

.attribution {
  font-size: 0.875rem;
  text-align: center;
}

.attribution a:visited {
  color: hsl(283, 51%, 48%);
}

a {
  color: hsl(0, 0%, 7%);
  font-weight: 700;
  transition: color 0.3s ease-in-out;
}

footer {
  position: relative;
  top: 90%;
}/*# sourceMappingURL=styles.css.map */